# Core dependencies
python-dotenv==1.0.1
requests==2.31.0

# YouTube API
google-api-python-client==2.164.0
youtube-transcript-api==0.6.3

# OpenAI
openai==1.65.4

# Twitter/X API
tweepy==4.15.0

# Note: boto3 is already included in the AWS Lambda environment,
# so it's not necessary to include it in the deployment package.
# However, for local development, you can install it as needed:
boto3==1.37.11